
<!DOCTYPE html>
<html lang="en">

<head>
    <!--주석-->
    <!--웹 속성 설정, 외부 스크립트 가져오는 코드 작성-->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>💊KAIVV에 오신 것을 환영합니다.😘</title>
    <link rel="stylesheet" href="static/css/showresult.css">
    <link href="https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css" rel="stylesheet">
    <style>
        /* Define blinking animation */
        @keyframes blink {
            0%, 49% {
                opacity: 0;
            }
            50%, 100% {
                opacity: 1;
            }
        }

        /* Apply blinking animation to the element with ID "my-paragraph" */
        #my-paragraph {
            animation: blink 1s infinite; /* Blinking animation for 1 second, infinite loop */
        }
    </style>
</head>

<body>
    <div class="phone-frame">
        <img src="static/css/image/removedBG.png" alt="Smartphone Frame">
        <div class="content">

            <br>
            <a href="/main">
                <img src="/static/css/image/세로 이미지 누끼완.png" alt="Button Image" style="width: 310px;">
            </a><br><br>
            <a id="my-paragraph">^</a>
            <br>
            <a id="my-paragraph">^</a>
            <br>
            <a id="my-paragraph">^</a>
            <br>
            <br>
            <a id="my-paragraph">시작하시려면 로고를 클릭해주세요.</a><br>


        </div>
    </div>
</body>

</html>
