<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/showresult.css">
    <title>Mobile View Demo</title>
</head>
<body>
    <div class="phone-frame">
        <img src="static/css/image/removedBG.png" alt="Smartphone Frame">
        <div class="content">
            <img src="/static/css/image/가로 이미지 누끼완.png" alt="Button Image" width="100" height="100"><br>
            <a> test test</a>
            <p> Loading ...</p>
            <!-- ... rest of your content ... -->
        </div>
    </div>
</body>
</html>


<!-- static/css/image/removedBG.png-->